.basics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.logo {
  font-size: 4rem;
}

.name {
  color: rgba(148, 148, 148, 0.98);
}

.icon {
  font-size: 2rem;

  color: red;
  & > :hover {
    color: blue;
  }
}

.socials {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}

.summary {
  text-align: center;
  width: 50%;
  margin: 1rem auto;
}
